.page .page-title {
   display: none;
}

.sidebar ul li a {
    padding: 0.35rem 1.5rem 0.35rem 1.25rem;
    text-align: left; /* 左对齐 */
}

.sidebar ul li section a {

    border: 1px solid #ff0000;
    text-align: left; /* 左对齐 */
}

.sidebar ul li section ul li a {
    padding: 0.35rem 1.5rem 0.35rem 1.25rem;
    border: 1px solid #ff0000;
    text-align: left; /* 左对齐 */
}